ion-slides {
    height: 100%;
    --bullet-background: var(--ion-color-dark);
    ion-slide {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;        
    }
    .topRight {
        align-items: initial;
        justify-content: flex-end;
    }
    .transformButton {
        transform: translateY(30vh);
    }
}